.activity{
    background: #F9FAFC;
    padding: 10px 32px 24px 24px;
}
.activity-icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
}
.activity-icon img{
    margin-left: 15px;
}
@media(max-width: 1000px){
    .activity{
        display: none;
    }
}