.sidebar{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #EFF2F7;
    font-size: 1em;
}
.sidebar .logo{
    margin-top: 3em;
    margin-left: 3em;
}
.sidebar .links {
    margin-top: 5em;
    padding-right: 3em;
}
.sidebar .links li {
    margin-top: 0.71em;
   
}
.sidebar .links a {
    display: flex;
    align-items: center;
    padding: 0.71em 0;
    padding-left: 30px;
    text-decoration: none;
    width: 100%;   
    color: #979AA5;
}
.sidebar .links a:focus{
    color: green;
    background-color: #FFEEA7;
}
.sidebar .links svg, .sidebar .help-center img {
    margin-right: 0.71em;
    /* filter: invert(100%); */
}
.sidebar .help-center{
    margin-top: auto;
    display: flex;
    align-items: center;
    margin-left: 30px;
    padding-bottom: 30px;
}
/*responsive*/
@media(max-width: 1000px){
    .sidebar{
        display: none;
    }
}