@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* variables */
:root {
  --secondary-color: #9DA8B6;
}

/* base styles */
ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
button{
  cursor: pointer;
}