@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* variables */
:root {
  --secondary-color: #9DA8B6;
}

/* base styles */
ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

